<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Danh mục</h4>
                        <ul>
                            <li><a href="/categorys?cate=135">Sách chính trị</a></li>
                            <li><a href="/categorys?cate=137">Sách kỹ năng sống</a></li>
                            <li><a href="/categorys?cate=138">Sách kinh tế, khởi nghiệp</a></li>
                            <li><a href="/categorys?cate=139">Sách hot, best seller</a></li>
                            <li><a href="/categorys?cate=140">Tiểu thuyết, thơ, hồi ký...</a></li>
                            <li><a href="/categorys?cate=141">Sách thiếu nhi</a></li>
                            <li><a href="/categorys?cate=142">Sách chuyên nghành</a></li>
                            <li><a href="/categorys?cate=143">Sách ngoại ngữ</a></li>
                        </ul>
                    </div>
                    <div class="sidebar__item">
                        <h4>Giá</h4>
                        <div class="price-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="10" data-max="540">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                            <div class="range-slider">
                                <div class="price-input">
                                    <input type="text" id="minamount">
                                    <input type="text" id="maxamount">
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="sidebar__item sidebar__item__color--option">
                        <h4>Colors</h4>
                        <div class="sidebar__item__color sidebar__item__color--white">
                            <label for="white">
                                White
                                <input type="radio" id="white">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--gray">
                            <label for="gray">
                                Gray
                                <input type="radio" id="gray">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--red">
                            <label for="red">
                                Red
                                <input type="radio" id="red">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--black">
                            <label for="black">
                                Black
                                <input type="radio" id="black">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--blue">
                            <label for="blue">
                                Blue
                                <input type="radio" id="blue">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--green">
                            <label for="green">
                                Green
                                <input type="radio" id="green">
                            </label>
                        </div>
                    </div> --}}
                    <div class="sidebar__item">
                        <h4>Kích thước sách</h4>
                        <div class="sidebar__item__size">
                            <label for="large">
                                Lớn
                                <input type="radio" id="large">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="medium">
                                Bình thường
                                <input type="radio" id="medium">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="small">
                                Nhỏ
                                <input type="radio" id="small">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="tiny">
                                Nhỏ nhất
                                <input type="radio" id="tiny">
                            </label>
                        </div>
                    </div>
                    <div class="sidebar__item">
                        <div class="latest-product__text">
                            <h4>Sách mới nhất</h4>
                            <div class="latest-product__slider owl-carousel">
                                <div class="latest-prdouct__slider__item">
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="https://cdn0.fahasa.com/media/catalog/product/z/3/z3491934768226_275417ff3f9b43d16255fd48bac1475c.jpg"
                                                alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Tổng Đốc Lê Hoan (1856-1915)</h6>
                                            <span>139,200 đ</span>
                                        </div>
                                    </a>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="https://cdn0.fahasa.com/media/catalog/product/9/7/9786043295429.jpg"
                                                alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Tớ tôn trọng sự khác biệt</h6>
                                            <span>33,930 đ</span>
                                        </div>
                                    </a>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="https://cdn0.fahasa.com/media/catalog/product/8/9/8936170870551.jpg"
                                                alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Năng Lực Của Sự Ngu Ngốc</h6>
                                            <span>195,750 đ</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="latest-prdouct__slider__item">
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="https://cdn0.fahasa.com/media/catalog/product/3/3/3300000016979.jpg"
                                                alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Kham Nhẫn</h6>
                                            <span>182,700 đ</span>
                                        </div>
                                    </a>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="https://cdn0.fahasa.com/media/catalog/product/3/3/3300000016962.jpg"
                                                alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Tâm Từ Thực Hành Căn Bản</h6>
                                            <span>146,160 đ</span>
                                        </div>
                                    </a>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="https://cdn0.fahasa.com/media/catalog/product/9/7/9786043681666.jpg"
                                                alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Dặm Trời Bâng Khuâng </h6>
                                            <span>110,490 đ</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Giảm giá</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel">
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                        data-setbg="https://bookbuy.vn/Res/Images/Product/dac-nhan-tam-bia-mem_76375_1.jpg">
                                        <div class="product__discount__percent">-10%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Dale Carnegie</span>
                                        <h5><a href="#">Đắc Nhân Tâm</a></h5>
                                        <div class="product__item__price">73,000 đ <span>86.000 đ</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                        data-setbg="https://bookbuy.vn/Res/Images/Product/nha-gia-kim_23993_1.jpg">
                                        <div class="product__discount__percent">-10%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Paulo Coelho</span>
                                        <h5><a href="#">Nhà Giả Kim</a></h5>
                                        <div class="product__item__price"> 54,000 đ <span>60,000 đ</span></div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                        data-setbg="https://cdn0.fahasa.com/media/catalog/product/d/u/dung-lua-chon-an-nhan-khi-con-tre-_tai-ban_.jpg">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Cảnh Thiên
                                        </span>
                                        <h5><a href="#">Đừng Lựa Chọn An Nhàn Khi Còn Trẻ</a></h5>
                                        <div class="product__item__price">80,000 đ <span>100.000 đ</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                        data-setbg="https://cdn0.fahasa.com/media/catalog/product/n/g/nghigiaulamgiau_110k-01_bia-1.jpg">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Napoleon Hill</span>
                                        <h5><a href="#">Nghĩ Giàu & Làm Giàu </a></h5>
                                        <div class="product__item__price">88,000 đ <span>110,000 đ</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                        data-setbg="https://cdn0.fahasa.com/media/catalog/product/i/m/image_230105.jpg">
                                        <div class="product__discount__percent">-18%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Dried Fruit</span>
                                        <h5><a href="#">Trên Đỉnh Phố Wall</a></h5>
                                        <div class="product__item__price">179,580 đ <span>219,000 đ</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                        data-setbg="https://cdn0.fahasa.com/media/catalog/product/i/m/image_203580.jpg">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Peter Drucker</span>
                                        <h5><a href="#">Những Nguyên Lý Quản Trị Bất Biến Mọi Thời Đại</a></h5>
                                        <div class="product__item__price">110,400 đ <span>138,000 đ </span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Sắp xếp</span>
                                <select>
                                    <option value="0">Mặc định</option>
                                    <option value="0">Lớn</option>
                                    <option value="0">Nhỏ</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>16</span> Sản phẩm</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{#each Products}}
                    <div class="product__item__hover__full__shop col-lg-3 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="">
                                <a href="/detail/{{this.id}}"><img src="{{this.product_img}}" alt="Girl in a jacket"
                                        width="190" height="270"></a>
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                    <li><a href="/shopping-cart/add-to-cart/{{this.id}}"><i
                                                class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <div class="product_item_text_name">
                                    <h7><a href="/detail/{{this.id}}">{{this.product_name}}</a></h7>
                                </div>
                                <div class="product_item_text_monney">
                                    <span class="real_price">{{format this.list_price}}</span>
                                    <span class="facker_price">
                                        {{format this.fake_price}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="product__pagination">
                    <a id="product_page_1" href="/shop/?page=1&limit=16">1</a>
                    <a id="product_page_2" href="/shop/?page=2&limit=16">2</a>
                    {{#if data.isFour}}
                    <span>.</span>
                    <span style="margin-right: 16px ;">.</span>
                    <a id="product_page_{{data.pageNow}}"
                        href="/shop/?page={{data.pageNow}}&limit=16">{{data.pageNow}}</a>
                    {{/if}}

                    {{#if data.isNearTotalPage}}
                    <span>.</span>
                    <span style="margin-right: 16px ;">.</span>
                    {{/if}}
                    {{#if data.isTotalPage}}
                    <a href="/shop/?page={{data.totalPage}}&limit=16">{{data.totalPage}}</a>
                    <a href="/shop/?page={{sum data.pageNow 1}}&limit=16"><i class="fa fa-long-arrow-right"></i></a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
<script>
    document.getElementById('nav_shop1').style.color = '#7FAD39';
    document.getElementById('nav_shop2').style.color = '#7FAD39';
    var e = "product_page_" + {{ data.pageNow }};
    document.getElementById(e).style.backgroundColor = '#7FAD39';
</script>