<div>
    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/cat-1.jpg">
                            <h5><a href="/categorys?cate=137">Sách kỹ năng</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/cat-2.jpg">
                            <h5><a href="/categorys?cate=139">Sách hot</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/cat-3.jpg">
                            <h5><a href="/categorys?cate=141">Sách thiếu nhi</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/cat-4.jpg">
                            <h5><a href="/categorys?cate=142">Chuyên nghành</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/img/categories/cat-5.jpg">
                            <h5><a href="/categorys?cate=138">Sách kinh tế</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Sách nổi bật</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">Toàn bộ sách</li>
                            {{!-- <li data-filter=".kynang">Sách kỹ năng sống</li>
                            <li data-filter=".hot">Sách hot, best seller</li>
                            <li data-filter=".thieunhi">Sách thiếu nhi</li>
                            <li data-filter=".chuyennghanh">Sách chuyên nghành</li>
                            <li data-filter=".kinhte">Sách kinh tế</li> --}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                {{#each Products}}
                <div class="product__item__hover__full col-lg-3 col-md-4 col-sm-6 mix {{this.category}} vegetables">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="">
                            <a href="/detail/{{this.id}}"><img src="{{this.product_img}}" alt="" width="204"
                                    height="300"></a>
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="/shopping-cart/add-to-cart/{{this.id}}"><i
                                            class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <div class="featured__item__text__name">
                                <h6><a href="/detail/{{this.id}}">{{this.product_name}}</a></h6>
                            </div>
                            <div class="product_item_text_monney">
                                <span class="real_price">{{format this.list_price}}</span>
                                <span class="facker_price">
                                    {{format this.fake_price}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
            <div class="product__pagination product__pagination__home ">
                <a href="/home/?page={{sub data.pageNow 1}}&limit=16"><i class="fa fa-long-arrow-left"></i></a>
                <a id="product_page_1" href="/home/?page=1&limit=16">1</a>
                <a id="product_page_2" href="/home/?page=2&limit=16">2</a>
                <a id="product_page_3" href="/home/?page=3&limit=16">3</a>
                {{#if data.isFour}}
                <span>.</span>
                <span style="margin-right: 16px ;">.</span>
                <a id="product_page_{{data.pageNow}}" href="/home/?page={{data.pageNow}}&limit=16">{{data.pageNow}}</a>
                {{/if}}

                {{#if data.isNearTotalPage}}
                <span>.</span>
                <span style="margin-right: 16px ;">.</span>
                {{/if}}
                {{#if data.isTotalPage}}
                <a href="/home/?page={{data.totalPage}}&limit=16">{{data.totalPage}}</a>
                <a href="/home/?page={{sum data.pageNow 1}}&limit=16"><i class="fa fa-long-arrow-right"></i></a>
                {{/if}}
            </div>

        </div>

    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="https://bookbuy.vn/Res/Images/Album/85aa3be0-6a8b-431e-aa34-834e2a3fda4d.jpg?w=880&scale=both&h=320&mode=crop"
                            alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="https://bookbuy.vn/Res/Images/Album/15d360dd-d695-4290-8301-d2c1d41aabb8.jpg?w=880&scale=both&h=320&mode=crop"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img height=" 240px"
                                src="https://www.reader.com.vn/uploads/news/a_1393898693_reviewsachnhungnguoithanhcongnhatlamgitruocbuasang0.jpeg"
                                alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> 06/2022</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Review Những người thành công nhất làm gì trước bữa sáng</a></h5>
                            <p>Những người thành công nhất làm gì trước bữa sáng - bí quyết tận dụng thời gian hiệu
                                quả của những cá...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img width="" height=" 240px"
                                src="https://www.reader.com.vn/uploads/news/a_1888617730_sachdetamkhongban4.jpeg"
                                alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> 04/2022</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a
                                    href="https://www.reader.com.vn/review-sach-de-tam-khong-ban-ryunosuke-koike-a647.html">Review
                                    sách Để tâm không bận - Ryunosuke Koike</a></h5>
                            <p>Để tâm không bận là một cuốn sách có một góc nhìn hoàn toàn mới lạ về sự đau khổ,
                                không phải là một...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img height="240px" src="/img/blog/blog-1.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> 09/2021</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a
                                    href="https://www.reader.com.vn/review-sach-khong-so-cham-chi-so-dung-van-tinh-a790.html">Review
                                    sách Không sợ chậm chỉ sợ dừng - Vãn Tình</a></h5>
                            <p>Không sợ chậm chỉ sợ dừng một cuốn sách giống như kim chỉ nam hướng bạn đọc đến lối
                                sống kỷ luật...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
</div>

<script>
    let current_url = document.location;
    document.querySelectorAll(".header__menu .active").forEach(function (e) {
        if (e.href == current_url) {
            e.classList += " current";
        }
    });
</script>
<script>
    var button = document.getElementById('home_nav');
    button.addEventListener('click', function (e) {
        button.style.backgroundColor = "red";
    });
</script>
<script>
    document.getElementById('nav_home1').style.color = '#7FAD39';
    document.getElementById('nav_home2').style.color = '#7FAD39';
    var e = "product_page_" + {{ data.pageNow }};
    document.getElementById(e).style.backgroundColor = '#7FAD39';
</script>